body {
  font-family: Calibri;
}

.text-center {
  text-align: center;
}

.deleteButton {
  background-color: transparent;
  margin-left: 90px;
  border: none;
  cursor: pointer;
}

.draggable {
  touch-action: none;
  user-select: none;
}

.base-input-container {
  display: block;
  width: 208px;
}

.component-title {
  width: 208px;
}

.component-title h3 {
  padding: 0;
  padding-bottom: 0.2em;
  margin: 0.8em 0;
  margin-bottom: 0;
  border-bottom: 2px black solid;
}

.component-title-info {
  font-size: 16px;
  font-weight: normal;
  color: gray;
}

.component-title-info .tooltip-left::after {
  width: 250px;
  white-space: normal;
  z-index: 9999;
}

.component-title .fa {
  color: gray;
}

.position-background {
  width: 100px;
  height: 100px;
  display: block;
  background-color: white;
  border: 2px #888 solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
}

.position-background .direction-indicator {
  display: block;
  position: absolute;
  left: 29px;
  top: 35px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  pointer-events: none;
}

.position-indicator {
  display: block;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border-radius: 10px;
  border: 2px #818181 solid;
  touch-action: none;
  user-select: none;
  /* `-7px`, weil die Breite 14 (10 + 2 für jede Border) ist und wir die Hälfte davon
   *  nehmen.
   *
   *  PS: Mit dem Margin kann man sozusagen den Origin-Punkt angeben.
   */
  margin-left: -7px;
  margin-top: -7px;
}

.connection-network-background {
  width: 100%;
}

.connection-input-indicator,
.connection-output-indicator {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}

.connection-input-indicator {
  margin: 20px 0px 40px 0px;
}

.connection-output-indicator {
  margin: 40px 0px 20px 0px;
}

.connection-inputs,
.connection-outputs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

div.connection-line {
  transform-origin: 0 100%;
  height: 4px;
  background: #000;
  position: absolute;
  cursor: pointer;
  transform-origin: 0% 50%;
}

div.connection-line:hover {
  box-shadow: 0px 0px 2px black;
}

.sidepar-seperator {
  min-height: 0px !important;
  border: none;
  border-bottom: 1px solid #ccc;
}

button,
.button,
[type='submit'],
.dropimage {
  margin: none;
  transition: none;
}

.swal-overlay--show-modal .swal-modal {
  animation: none;
}

.swal-modal {
  border-radius: 3px;
}

.swal-button {
  border-radius: 2px;
  text-shadow: none;
  padding: 5px 20px;
  background-color: #aabbcc;
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}

.swal-button:not([disabled]):hover {
  background-color: #bbcccc;
}

.swal-button--cancel {
  background-color: #eeeeee;
}


/*VON HIER SIND LAPKIS*/
/*settings menu*/
.nav-tabs a {
    color: black;
    text-align: center;
}

#settings-menu{
    padding-left: 5px;
}

h4 {
    background-color: #EFEFEF;
    border-radius: 3%;
    margin-top: 2px;
    padding: 5px 15px; 
    color: #383838;
}

/*draggable component*/
[draggable="true"] {
    /*
   To prevent user selecting inside the drag source
  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#drag-drop-basic {
    display: flex;
}

#add-remove-container {
    height: 200px;
    flex: 1;
}

#object-container {
        height: 200px;
        border: 2px solid #CCC;
        background-color: white;
        flex: 1;
}

#drag-source {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: steelblue;
       
}

.dragging {
    opacity: .25;
}

.hover {
    background-color: grey;
}

/*VITALINA*/
.title {
    background-color: #EFEFEF;
    border-radius: 3%;
    padding: 5px 15px; 
    color: #383838;
	display: inline;

}
.my-btn {
    background-color: #EFEFEF !important;
    color: #383838 !important;
    text-align: left !important;
    outline: none !important;
	border: none !important;
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
}

.my-btn:hover, .my-btn:focus, .my-btn:active {
    background-color: #EFEFEF !important;
    color: #383838 !important;
    outline: 0 !important;
	border: none !important;
	box-shadow: 0 !important;
	outline-width:0!important;
	outline-color: transparent !important;
	outline-style: none;
}
.card {   
    border: none;
    background-color: #f8f8f8;
    margin: 0 !important;
}

.prefab-btn {
    background-color: #f8f8f8;
    outline: none;
	margin-left: 20px !important;
}

/*OFF CANVAS in INDEX.HTML*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav button {
    background-color: #f8f8f8;
    color: #383838;
}
.closebtn {
	padding: 0;
	margin: 0;
	background-color: #EFEFEF !important;
}

.container  {
	background-color: #EFEFEF;	
	font-size: 26px;
	font-style: bold;
}


.prefab-btn:hover,.prefab-btn:focus, .prefab-btn:active,
.closebtn:hover, .closebtn:focus, .closebtn:active {
    background-color: #f8f8f8;
    outline: 0 ;
	border: none ;
	box-shadow: 0 ;
	outline-width:0;
	outline-color: transparent ;
	outline-style: none;
}



#main {
    transition: margin-left .5s;    
}


/*Switch on*/

.switch-btn {
    display: inline-block;
    width: 50px; /* ширина */
    height: 20px; /* высота */ 
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 14px; /* высота кнопки */
    width: 22px; /* ширина кнопки */ 
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #3fb53f;
}
.switch-on::after {
    left: 26px;
}

/*slider*/
.slidecontainer {
	width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	align: center;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 80%; 
	height: 25px; /* Specified height */
	background: #efefef; 
	outline: none; /* Remove outline */
	opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	margin: 15px;
	margin-left: 10%;
	color: red;
}




/* Mouse-over effects */
.slider:hover {
    opacity: 0.7;
}





